h1 {
	float: left;
}

* {
	color: whitesmoke;
	font-family: Roboto;
}


#intro{
	font-size: 25px;
	text-align: center;
	font-family: 'helvetica-light', sans-serif;
}

body{
	margin:	0;
}
.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background: #6d7b8a;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

nav{
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 30px;
}

nav a {
	color: #bfbfbf;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
}

nav a:hover{
	color: #F5F5F5;
}

.intro {
	padding-top: 20px;
	width: 50%;
	margin: auto;
}

.journal {
	padding-top: 20px;
	width: 60%;
	margin: auto;
}

#journal{
	font-size: 20px;
	text-align: center;
	font-family: 'helvetica';
}



@font-face{
	font-family: helvetica-light;
	src: url("fonts/helvetica-light.ttf");
}